@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body {
		@apply h-full;
	}

	@font-face {
		font-family: "Lora";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url(/fonts/lora-700.woff2) format("woff2");
	}

	:is(h1, h2, h3, h4, h5, h6) {
		@apply font-lora text-gray-900 tracking-tight;
	}

	a {
		@apply hover:text-gray-800 transition-colors;
	}
}

