@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html, body {
		@apply h-full;
	}

	@font-face {
		font-family: "Lora";
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url("/fonts/lora-700.woff2") format("woff2");
	}

	@font-face {
		font-family: "Playfair";
		font-style: italic;
		font-weight: 500;
		font-display: swap;
		src: url("/fonts/playfair-i500.ttf") format("truetype");
	}
}

